[*.xml]
indent_style = space
indent_size = 2

[*.ui]
indent_style = space
indent_size = 2

[*.scm]
indent_style = space
indent_size = 2

[*.build]
indent_style = space
indent_size = 2

[*.c]
indent_style = space
indent_size = 2
