# SPDX-FileCopyrightText: 2026 Jean-Pierre De Jesus DIAZ
# SPDX-License-Identifier: CC0-1.0

[*.{c,h}]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2

[*.ui]
indent_style = space
indent_size = 2

[{meson.build,meson.options}]
indent_style = space
indent_size = 2
