/target
app/aurascan/target
datasets
artifacts
cubecl.toml
*.png
crates/gst-plugin-aurascan/target
**/*/dot
*.dot
**/*/__pycache__
*.pth
*.onnx
*.onnx.data
.venv*
builddir*

.direnv
# pixi environments
.pixi/*
!.pixi/config.toml
